/* 

    CSS Guide

    1. General Styles
    2. Grid
    3. Header
    4. Icons
    5. Footer

*/

/* 1. ---General Styles--- */

.hidden {
    display: none;
}

body {
    background-image: url("../images/background.jpg") ;
    background-size: cover;
    font-family: 'Anton', sans-serif;
    font-size: 18px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

/* 2. ---Grid--- */

/* this is the exact same grid used in Adobe XD, we have recreated 
the grid using CSS. It is a class becasue we will use multiple grids */


.grid {
    display: grid;
    padding-right: 15px;
    padding-left: 15px;
    grid-template-columns: repeat(12, 85px);
    grid-column-gap: auto;  
}

/* 3. ---Header--- */
 
    #logo {
        height: 100px;
        width: 100%;
        grid-column: 1/4;
    }

    #header {
        margin-top: 10px;
        grid-column: 6/11;
    }

    ul li {
        display: inline;
        margin-right:25px;
       
    }

    ul li a {
        display: inline;
        color: white;
        text-decoration: none;
    }
    
    header nav ul li a:hover {
        color: #b46175;
        text-decoration: underline;
    }
    
    header nav ul li a:visited {
        color: white;
    }

/* 4. ---Icons--- */

    #main-title {
        margin-top: 100px;
        grid-column: 6/10;
        font-size: 30px;
    }

    #icon-con {
        margin-top: 15px;
    }

    .icons {
        width: 300px;
        height: 300px;
        grid-column: span 4;
        margin-top: 15px;
    }

    .icon {
        width: 60%; 
        margin-left: 15%;
    }

    .box-color {
        border: 4px solid rgb(248, 215, 236) ;
        border-radius: 10%;
        color: white;
        text-align: center;   
    }

    .icons:hover {
        background-color: pink;
        transition: transform 0.3s ease;
        cursor: pointer;
    }

/* 5. ---Footer--- */

    .box-color1 {
        background-color: pink;
    }

    #footer {
        grid-column: 1/-1;
        margin-top: 35px;
        
    }

    #footer-nav {
        margin-top: 15px; 
        height: 70px;
        grid-column: 1/-1;
        text-align: center;
    }

